#bg-img {
    background-image: url(./Assets/david-billings-Zmfz5jqgSiI-unsplash.jpg);
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-position: center;
  /* height: 100%; */
}
#footer {
    position: fixed;
    height: 25px;
    bottom: 0;
    width: 100%;
    background-color: #30444d;
}

a {
    color: #be8c80;
}

a:hover {
    color: #be8c80;
}

a:active {
    color: #be8c80;
    background-color:#30444d;
}

a:visited {
    color: #30444d;
}