body {
    font-family: 'Source Sans Pro', sans-serif;
}

#bg-img {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#about-me {
    float: left;
}


a:hover {
    color: #be8c80;
}

a:active {
    color: #be8c80;
    background-color:#30444d;
}

a:visited {
    color: #30444d;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

#col-contact {
    margin-bottom: 20px;   
}

.col-6 img {
    margin-top: 8px;
    vertical-align: middle;
    width:100%;
}

#deployProject1Btn,
#repoProject1Btn,
#deployHW5Btn,
#repoHW5Btn, 
#deployHW3Btn,
#repoHW3Btn {
    border-color: #2196F3;
    color: dodgerblue;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.port-img {
    width: 250px;
    height: 250px;
}

.port-card {
    height:550px;
    text-align: center;
}

@media screen and (max-width: 576px) { 
.col-6,
.col-9,
.col-12 {
    flex: 100%;
    max-width: 100%;
}
}

/* @media screen and (max-width: 768px) { 
    .col-6,
    .col-9,
    .col-12 {
        flex: 100%;
        max-width: 100%;
    }
    }

@media screen and (max-width: 992px) { 
    .col-6,
    .col-9,
    .col-12 {
        flex: 100%;
        max-width: 100%;
    }
    } */