body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../images/nebula.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#about-me {
    float: left;
}


a:hover {
    color: #B45A76;
}

a:active {
    color: #B45A76;
    background-color:#1C3553;
}

a:visited {
    color: #1C3553;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

#col-contact {
    margin-bottom: 20px;   
}

.col-6 img {
    margin-top: 8px;
    vertical-align: middle;
    width:100%;
}

#deploy0Btn,
#repo0Btn,
#deploy1Btn,
#repo1Btn,
#deploy2Btn,
#repo2Btn, 
#deploy3Btn,
#repo3Btn,
#deploy4Btn,
#repo4Btn,
#deploy5Btn,
#repo5Btn, 
#deploy6Btn,
#repo6Btn {
    border-color: #2196F3;
    color: dodgerblue;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.port-img {
    width: 350px;
    height: 350px;
}

.port-card {
    text-align: center;
    margin: 10px auto;
    height: 100%;
}

@media screen and (max-width: 576px) { 
.col-6,
.col-9,
.col-12 {
    flex: 100%;
    max-width: 100%;
}
}

/* @media screen and (max-width: 768px) { 
    .col-6,
    .col-9,
    .col-12 {
        flex: 100%;
        max-width: 100%;
    }
    }

@media screen and (max-width: 992px) { 
    .col-6,
    .col-9,
    .col-12 {
        flex: 100%;
        max-width: 100%;
    }
    } */